body {
  font-family: "Raleway", sans-serif;
  background-color: #fff9e4;
  scroll-behavior: smooth;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.call_to-btn {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 10px;
  font-size: 15px;
  /* background-color: #ffffff; */
  /* color: #262627; */
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

.call_to-btn img {
  width: 18px;
  margin-left: 10px;
}

.btn_on-hover {
  transition: all 0.3s ease 0s;
}

.call_to-btn:hover,
.btn_on-hover:hover {
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  transform: translateY(-7px);
}

.main-heading {
  color: #082465;
  font-weight: bold;
  text-align: center;
}

/*header section*/

.header_section {
  padding-top: 10px;

  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  position: absolute;
  top: -15px;
  left: 0;
}

nav.navbar.navbar-expand-lg {
  padding: 10px 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 20px;

  position: relative;
  text-align: center;
  display: inline-block;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.nav-link {
  position: relative;
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
  color: #000;
}

.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: blue;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.top_container {
  position: relative;
}
header {
  width: 100%;
}

.top_container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2c32b;
  background-size: 100% 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero_section {
  /* background-color: #f2c32b; */
  background-color: #ffce32;
}

.top_container::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  /* bottom: 0; */
  left: 12%;
  /* background-color: #f2c32b; */

  /* background-color: red; */
}

.navbar-brand img {
  width: 10rem;
  /* position: absolute; */

  z-index: 999999;
  /* margin-right: 7px; */
  /* background-color: #010103; */
}

.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #fefefe;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
  position: relative;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
  opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}
.navbar-toggler {
  margin-left: auto;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

/* top line moves back to initial position and rotates back to 0 degrees */

/*end header section*/

/* hero section */
.hero-container {
  display: flex;
  padding-top: 90px;
  /* padding-bottom: 325px; */
}

.hero_detail-box {
  width: 40%;
}

.hero_img-container {
  width: 68%;
  margin-right: -8%;
  margin-top: -5%;
}

.hero_img-container img {
  width: 100%;
}

.hero_detail-box {
  color: #fefeff;
}

.hero_detail-box h1 {
  font-size: 50px;
  font-weight: 700;
  /* width: 70%; */
}

.hero_detail-box p {
  margin-top: 20px;
  margin-bottom: 35px;
}

/* end hero section */

/* common style for some sections */

.common_style h3 {
  font-weight: 600;
  /* color: #151516; */
}

.common_style p {
  font-weight: 600;
  /* color: #4e4f50; */
  margin: 30px 0 50px 0;
}

.common_style img {
  width: 100%;
}

/* end common style */

/* about section */

.hero-btn a {
  color: Blue;
  background-color: white;
  border: 1px solid blue;
}
.hero-btn a:hover,
.hero-btn a:focus {
  color: white;
  background-color: blue;
}
/* end about section */

/* admission section */

/* end admission section */

/* noticeboard section mew*/
.notice-section {
  /* padding: 2rem 0; */
  background-color: #e8f2ff;
}

.notice-section:nth-child(2) {
  background-color: #f6faff;
}

.notice-info h3 {
  padding: 0.5rem 0;
}
/* end noticeboard section */

/* determine section */

.determine_section a {
  background-color: #fdd31d;
  color: #fefeff;
}

/* end determine section */

/* client section */
.client_section h2,
.client_section h5,
.client_section p {
  font-weight: 600;
}

.client_section h2 {
  text-align: center;
}

.client_section h5 {
  font-size: 24px;
  color: #fdd31d;
}

.client_section .row {
  align-items: center;
  padding: 75px 0;
  margin: 0 15px;
}

.client_section img {
  width: 100%;
  height: 100%;
}

.client_img-box::before,
.client_img-box::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: #fdd31d;
}

.client_img-box::before {
  top: -15px;
  transform: rotate(139deg);
  left: -15px;
  animation: beforeanimate 1s;
  animation-delay: 0.1s;
}

.client_img-box::after {
  bottom: -15px;
  transform: rotate(142deg);
  right: -15px;
  animation: afteranimate 1s;
  animation-delay: 0.1s;
}

@keyframes beforeanimate {
  0% {
    top: 43%;
    transform: rotate(142deg);
    left: 31%;
  }

  100% {
    top: -15px;
    transform: rotate(139deg);
    left: -15px;
  }
}

@keyframes afteranimate {
  0% {
    bottom: 46%;
    transform: rotate(142deg);
    right: 35%;
  }

  100% {
    bottom: -15px;
    transform: rotate(142deg);
    right: -15px;
  }
}

.client_section .carousel-indicators {
  margin: 0;
  justify-content: flex-end;
  padding-right: 15px;
  bottom: 20px;
}

.client_section .carousel-indicators li {
  width: 25px;
  height: 25px;
  background-color: #6bd1bd;
  border-radius: 100%;
  opacity: 1;
}

.client_section .carousel-indicators li.active {
  background-color: #fdd31d;
}

/* end client section */

/* contact section */

.contact_section {
  font-family: "Poppins", sans-serif;
}

.contact_section .row {
  align-items: center;
}

.contact_section input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  width: 60%;
  background-color: inherit;
  margin: 15px 0;
}

.contact_form-container button {
  border: none;
  background-color: #6bd1bd;
  color: #fff;
  font-size: 15px;
  padding: 15px 45px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.contact_img-box {
  display: flex;
  align-items: center;
}

.contact_img-box img {
  width: 100%;
}

.contact_section h2 {
  font-size: 26px;
  color: #010103;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin-bottom: 35px;
}

/* end contact section */

/* info section */
.info_section {
  background-color: #ffce32;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.info_logo-box {
  display: flex;
  justify-content: center;
}

.info_logo-box h1 {
  padding: 10px 7px;
  color: #007bff;

  border-bottom: 1.5px solid #007bff;
  font-size: 3rem;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}

.info_section ul li a {
  color: #007bff;
}

.info_section ul li a:hover {
  color: white;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 1.5rem;
}

.info_section .form_container input {
  width: 225px;
  height: 40px;
  padding: 10px;
}

.info_section .form_container input::placeholder {
  color: #ccc8c8;
}
.info_section p {
  margin: 0;
  padding: 0;
}

.info_section .form_container button {
  background-color: #fdd31d;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 30px;
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
}

.social_container {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #898989;
  padding: 25px 0;
}

.info_section .social-box {
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: center;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

/* end info section */

/* footer section*/
.diognal {
  --skew-angle: -5deg;
  --background: linear-gradient(45deg, #f6faff, #e6faff, #e8f2ff);

  position: relative;
}

.pa-gallery-player-widget {
  background-color: inherit;
  margin: 0 auto;
  height: 480px;
  /* width: 70%; */
}

.pa-gallery-player-widget iframe {
  width: 100%;
}

.contact_Section {
  font-family: "Raleway ";
}

.diognal::after {
  content: "";
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}

.footer_section {
  /* padding: 20px 15px; */
  /* padding-top: 3rem; */
  background-color: #f2c32b;
  font-family: "Poppins", sans-serif;
  color: #000;
  --mask: radial-gradient(63.09px at 50% 85.5px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(63.09px at 50% -55.5px, #0000 99%, #000 101%) 50% 30px/120px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.footer_section section {
  padding-bottom: 0;
}
p {
  color: #42464f;
}
.footer_section p {
  color: #fdfdfe;
  padding: 1rem;
  margin: 0;
  text-align: center;
  background-color: #f2c32b;
}

.footer_section > p {
  /* background-color: #d8b109; */
  padding: 1rem;
  color: #121722;
}

.footer_section a {
  color: #;
}

/* end footer section*/
li {
  list-style: none;
}

.intro article {
  padding: 3rem;
}

.remove-bg a,
.form-link a {
  all: unset;
  cursor: pointer;
}

.noticeboard_detail-box {
  background-color: #f6faff;
}

.title {
  background-color: #fdd31d;
}
.list-group .list-group-item {
  background-color: inherit;
  border-top: 1px solid #fff;
  border-left-color: #fff;
  border-right-color: #fff;
}

section {
  padding-block: 5rem;
}

.card-body {
  background-color: #e8f2ff;
}
